@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");

* {
  margin: 0;
  padding: 0;
  font-family: "Montserrat", sans-serif;
}

body {
  background-color: #2c3e50;
}

h1 {
  text-align: center;
  color: white;
  margin-top: 50px;
}

p {
  color: white;

  a{
    text-decoration: none;
    color: #1c7ed6;
  }
}

form {
  margin-top: 150px;
  font-family: "Montserrat", sans-serif;
  display: block;
  margin-left: 20px;
  width: 350px;

  label{
    color: white;
  }

  input,
  textarea,
  select {
    width: 350px;
    height: 35px;
    font-size: 18px;
    border-radius: 10px;
    margin-bottom: 20px;
    padding: 5px;
    resize: none;
    background-color: #34495e;
    color: white;
    border: white;

    &::placeholder{
        color: white;
    }
  }
}

button {
  padding: 15px 30px;
  font-size: 18px;
  background-color: #34495e;
  border: none;
  border-radius: 5px;
  color: #fff;
  cursor: pointer;
  font-family: "Montserrat", sans-serif;
  position: relative;
  left: 20%;
}
button:hover {
  background-color: #1c7ed6;
}






@media(max-width: 768px){
  form{
  }
}