@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');


*{
    margin: 0;
    padding: 0;
}

body{
    background-color: #2C3E50;

    h1{
        margin-top: 100px;
        margin-bottom: 100px;
    }

    p{
        margin-top: 10px;
    }

    h1,p{
        font-family: "Montserrat", sans-serif;
        color: white;
        text-align: center;
    }

    form{
        width: 50%;
        margin-left: 20%;

        button {
            width: 200px;
            padding: 15px 30px;
            font-size: 18px;
            background-color: #34495E;
            border: none;
            border-radius: 5px;
            color: #fff;
            cursor: pointer;
            font-family: "Montserrat", sans-serif;
            margin-left: 45%;
            margin-right: 50%;
            margin-top: 10px;
        
            &:active{
                background-color: #1c7ed6;
            }
        
            &:hover{
                background-color: #1c7ed6;
            }
        
        }
    }

    .glav{
        width: 200px;
        border: 1px solid white;
        text-align: center;
        border-radius: 20px;
        margin-top: 20px;
        margin-left: 38%;
        margin-right: 50%;
        
        a{
            color: white;
            text-decoration: none;
            width: 200px;
            font-size: 30px;
        }
    }
}

#phoneModal{
    margin-bottom: 50px;
    .modal-content{
        .close{
            color: white;
            
        }
        p{
            color: rgb(255, 0, 0);
        }
        a{
            color: white;
            text-decoration: none;
        }
    }
}


@media(max-width: 425px) {
    body{
        height: auto;
        h1{
            margin-top: 10px;
            margin-bottom: 10px;
        }

        p{
            margin-top: 20px;
            font-size: 20px;
        }

        form{
            margin-left: 8%;
            margin-top: 10px;

            button{
                margin-left: 20%;
            }
        }

        a{
            color: white;
        }
        
        .glav{
            width: 200px;
        }
    }
}

@media(max-width: 768px){
    body{
        h1{
            margin-top: 100px;
        }

        form{
            margin-left: 15%;
        }

        .glav{
            margin-left: 32%;
        }
    }
}